
.nav li{
    float: left;
    font-weight: 700;
    text-align: center;
    margin-right: 48px;
    color: #555;
}
.nav>li>a{
     color: #555;
 }
.nav>li>a:hover{
    color: #f86;
}
.nav>li>span:hover{
    color: #f86;
    text-decoration: underline;
}
li>a.active{
    color:red;
}
/*首页样式*/
.right{
  background: #fff;
    width:50%;
    float: right;
    padding: 20px;
    border:1px solid red;
}
.right>li{
    margin-left: 70px;
}

/*其他页面样式*/
.center{
    background-color:#000;
    color:#bebebe;
    padding:10px;
}
.center>li{
margin-left: 50px;
}