.title{
    font-size: 20px;
    font-weight: 800;

}
.telLogin{
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border:1px solid #aaa;
}
.telLogin>input{
    border:0;
    height:48px;
    width:300px;
}
.tips{
    margin: 20px auto;
    width: 300px;
    height:30px;
    color:red;
    display: none;
}
.link{
    width: 300px;
    margin: 40px auto;
    color:  #00ae66;
    position: relative;
}
#forget{
    display: inline-block;
    position: absolute;
    color: #000;
    right: 0;
}